/**
 * @file _article.scss
 * Each article teaser on the index
 */
article {
  background: $black;
  padding: 1em;
  padding-bottom: (1 - 0.825em);
  @include border-radius(8px);

  h1 {
    margin: 0 0 0.5em 0;
    font-size: 1em;

    a {
      &, &:link { color: $white; }
      &:visited { color: hmd-color($grey, 'highlight', 5%); }
      &:hover, &:active { color: $link; }
      @include underline($background: $black, $color: hmd-color($grey, 'bright'), $distance: 0.9875, $width: 1);
    }
  }

  .author, .year, .tags {
    display: block;
    font-size: 0.825em;
    padding-left: 2em;
    color: hmd-color($grey, 'highlight');
    @include text-shadow(1px 1px 0 rgb(0,0,0));
    background: {
      position: center left;
      size: 1em 1em;
      repeat: no-repeat;
    }

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &:not(:last-child) {
      border-bottom: 1px dotted hmd-color($grey, 'dark');
    }
  }

  .author {
    // @TODO: Compass image-url() and similar paths are including the
    // entire filesystem path, which is weird and annoying and nothing
    // I've tried has fixed it.
    background-image: url('../gfx/icons/author.svg');
  }

  .year {
    background-image: url('../gfx/icons/calendar.svg');
  }

  .tags {
    background-image: url('../gfx/icons/tags.svg');

    li {
      list-style: none;
      display: inline-block;
      cursor: pointer;
    }
  }
}
