/**
 * @file _filters.scss
 */
#filters {
  @extend %clearfix;
  background: hmd-color($grey, 'dark', -10%);

  h1 {
    display: block;
    height: 0;
    max-width: 320px;
    margin: 16px auto;
    padding-bottom: 28%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: {
      image: url('../gfx/logo.svg');
      position: center center;
      repeat: no-repeat;
      size: contain;
    }
  }

  #menu {
    text-align: right;

    @include breakpoint(680px) {
      display: none;
    }
  }

  .types, .tags {
    @extend %clearfix;

    @include breakpoint(max-width 679px) {
      display: none;
    }
  }

  button {
    width: 100%;
    border: 0;
    padding: 1em;
    background: transparent;
    @include transition(background .1s ease-out);
    font-family: $play;
  }

  .types {
    border-bottom: 2px solid hmd-color($grey, 'main', -5%);

    @include breakpoint(960px) {
      @include flexbox-defaults;
    }
  }

  .type {
    background-color: hmd-color($grey, 'main', 10%);

    @include breakpoint(max-width 1519px) {
      border-top: 1px solid hmd-color($grey, 'main', 5%);
      border-bottom: 1px solid hmd-color($grey, 'main', 15%);
    }
    @include breakpoint(1520px) {
      @include flexbox-defaults-items;
      border-left: 1px solid hmd-color($grey, 'main', 5%);
      border-right: 1px solid hmd-color($grey, 'main', 15%);
      width: 33.333%;
    }

    &:hover { background-color: hmd-color($grey, 'main', 15%); }
    color: hmd-color($grey, 'dark');
    @include text-shadow(1px 1px 0 hmd-color($grey, 'dark', -5%));
    font-weight: bold;

    &.type-article { color: hmd-color($blue, main); }
    &.type-resource { color: hmd-color($green, main); }
    &.type-styleguide { color: hmd-color($orange, main); }
  }

  .tags {
    @extend %flexbox-defaults;
  }

  .tag {
    @extend %flexbox-defaults-items;
    color: hmd-color($grey, 'highlight');
    background: hmd-color($grey, 'dark', -10%);
    &:hover { background-color: hmd-color($grey, 'dark', -15%); }
    border-bottom: 1px solid hmd-color($grey, 'dark', -5%);

    @include breakpoint(max-width 679px) {
      width: auto;
    }

    @include breakpoint(960px) {
      width: 50%;
    }
  }
}
