/**
 * @file _index.scss
 */
#index {
  @extend %flexbox-defaults;
  padding: 0.5em;

  article {
    @extend %flexbox-defaults-items;

    margin: 0.5em;
    @include breakpoint(480px) {
      width: calc(50% - 1em);
    }
    @include breakpoint(720px) {
      width: calc(33.3% - 1em);
    }
    @include breakpoint(960px) {
      width: calc(25% - 1em);
    }

  }
}
